.audio-player {
  width: 100%;
  height: 36px;
  background-color: transparent;
}

.audio-player::-webkit-media-controls-timeline {
  display: none !important;
}

.audio-player::-webkit-media-controls-current-time-display,
.audio-player::-webkit-media-controls-time-remaining-display {
  display: none !important;
}
